.contornoCard{
    width: 317px;
    height: 449px;
    left: 0px;
    top: 0px;
}
.titleCard{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 110% */

    display: flex;
    align-items: center;

    /* Text Color/Primary */

    color: #5E72E4;
}

.imagenCard{
    width: 315px;
    height: 152px;
    left: 0px;
    top: 0px;
    

}

.textCard{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    display: flex;
    align-items: center;

    /* Text Color/Blue Grey */

    color: #525F7F;
}

.bodyCard{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 4px;
}