@import '../../../Style/variablesFijas.scss';

.title{
    color: $h1color;
    font-size: 28px;
    text-transform:uppercase;
    font-weight: 400;
    font-family: 'Source Sans Pro', Helvetica, serif;
    display: flex;
    justify-content: center;
    border-bottom-width: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

}

.descrip{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-size-adjust: 100%;
}
