@import '../../Style/variablesFijas.scss';

.a{
    text-decoration: none;
}


.card-img{
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;

}

.titulo{
    font-size: 20px;
    font-weight: 400;
    color: $titleCard;
    font-family: $fontFamiliy;
    height: 48px;
}

.subtitulo{
    color: $subtitle;
    font-size: 16px;
    font-weight: 400;
    font-family: $fontFamiliy;
    line-height: 22px;
}

.descripcion{
    color: $grisTexto;
    font-family: $fontFamiliy;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

  .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
    cursor: pointer;
  }

  .stars{
    flex: 1 1 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
  