@import '../../Style/variablesFijas.scss';

.logo {

    height: 160px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
.navbar-expand {
    flex-wrap: nowrap;
    justify-content: center;
}
  .redes{
    display: table-cell;
    padding-right: 32px;
    padding-left: 32px;
}