@import '../../Style/variablesFijas.scss';

.btn-group{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn-editar {
    background: $titleCard;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-family: $fontFamiliy;
    border-color: $titleCard;
    min-width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    color: $blanco;

    &:hover{
        background: $grisMenu;
        box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        font-family: $fontFamiliy;
        border-color: $grisMenu;
    }

    &:active{
        background: $grisMenu;
        box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        font-family: $fontFamiliy;
        border-color: $grisMenu;
    }

    &:focus{
        background: $grisMenu;
        box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        font-family: $fontFamiliy;
        border-color: $grisMenu;
    }
}


.btn-eli{
    background: #FFFFFF;
    border: 1px solid $titleCard;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    color: $titleCard;
    font-family: $fontFamiliy;
    min-width: 80px;
    margin-left: 5px;
    margin-right: 5px;

    &:hover{
        background: $titleCard;
        border: 1px solid $titleCard;
        box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        color: $blanco;
        font-family: $fontFamiliy;
    }
}

.btn-eliminar{
    background-color:#FB6340;
    color:$blanco;
    border-radius: 4px;
    border-color: #FB6340;
    width: 26px;
    height: 34px;
    align-items: flex-start;
    padding: 2px;
}

.nav{
    outline: black solid 1px;
    font-family: $fontFamiliy;
    .nav-link{
        color: $grisMenu;
        font-size: 14px;
        font-weight: 600;
        font-family: $fontFamiliy;
    }

    .nav-link:hover{
        background-color: $hoverMenu;
        color: $blanco;
      }
}

.ingrediente{
    font-size: 1.7em;
    font-weight: bold;
    color: $titleCard;
    font-family: $fontFamiliy;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.mih3{
    font-size: 1.3em;
    font-weight: bold;
    color: $titleCard;
    font-family: $fontFamiliy;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

